[project]
name = "aqm"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = "==3.12.7"
dependencies = [
    "matplotlib>=3.10.8",
    "mpremote>=1.27.0",
    "pyserial>=3.5",
]
